
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Oops! Yanlıs linke geldiniz!</h1>
<h1>Oops! Yanlıs linke geldiniz!</h1>
<h1>Oops! Yanlıs linke geldiniz!</h1>
<h1>Oops! Yanlıs linke geldiniz!</h1>
<h1>Oops! Yanlıs linke geldiniz!</h1>
<h1>Oops! Yanlıs linke geldiniz!</h1>

