@{
    ViewData["Title"] = "PlayMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<div class="container" style="width:100%;height:100%;margin:auto;">
        <p style="color:white;font-weight:bold">@TempData["MovieName"]</p>
    <br />
    <br />

    <div>
        <iframe width="90%" height="700wv" src="https://www.youtube.com/embed/JHwMYTWIrQA?controls=1" frameborder="0" allowfullscreen>
        </iframe>
    </div>
</div>

<br/>
<br/>

